node_modules
package-lock.json
npm-debug.log
.idea
keys
logs/*
tmptx.json
bin
dump
genesis
apidoc
.DS_Store
src/logs/output.log
scripts/start.sh
scripts/start copy - Copie.bat
scripts/start copy.bat
scripts/start.sh
scripts/keys.json
src/logs/output.log
src/logs/output.log.2.gz
src/logs/output.log.3.gz
scripts/start.bat
dist/
scripts/accounts_steem.json
scripts/lastTokenSymbol.txt
scripts/lastNFTCollectionSymbol.txt
scripts/lastNFTListingId.txt
scripts/lastNFTInstanceId.txt
scripts/lastLaunchpadId.txt
.env
.cursor/
config/p2p_node_id.json
build/node.exe
build/mongod.exe
MeerayNodeSetup.exe
